<%- include('header') -%>
<body>
<div class="container my-2">
  <div class="container my-2">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cars</li>
      </ol>
      <div class="d-flex flex-row-reverse">
        <a class="btn btn-danger" href="/logout" role="button">LogOut</a>
      </div>
    </nav>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact</th>
          </tr>
        </thead>
        <tbody>
      <% Customers.map((customer)=>{ %>
            <tr>
              <td>
                <%= customer.name %>
              </td>
              <td>
                <%= customer.email %>
              </td>
              <td>
                <%= customer.contact %>
              </td>
            </tr>
         <% }); %>
        </tbody>
        <tr>
            <td>
                <a href="/api/addcustomers" role="button" class="btn btn-primary">
                  Add   
                </a>
            </td>
        </tr>
      </table>
  </div>
<%- include('footer') -%>